body{
	background: url(/static/img/page-bg.jpg);
}
.container{
	position: relative;	
}
#signin-wrap,#register-wrap{
	opacity:.9;
	position: absolute;
	top:33%;
	right:0px;
	width:250px;
	background: rgba(99,99,99,.1);
	padding: 10px;
	border-radius: 5px;
	border: 3px solid rgba(33,33,33,.2)
}
.btn{
	float: right;
}
legend{
	color: #fff;
	text-shadow: -1px -1px 3px #999;
}
