/*附加reset*/
li{
	list-style-type: none;
}
/*通用样式*/
.txt-hide{
	text-indent: -9999px;
}
.fix-right {
	position: fixed;
	top:0;
	right:0;
}
.fix-bottom{
	position: fixed;
	bottom:0;
}
.dis {
	display: none ;
}
::-webkit-scrollbar-track-piece{   
    background-color:#ddd;   
    -webkit-border-radius:8px;   
}   
::-webkit-scrollbar{   
    width:7px;
    display:block;
    position:absolute;
    visibility:visible;
}   
::-webkit-scrollbar-thumb{   
    height:50px;   
    background-color:#999;   
    -webkit-border-radius:8px;   
}   
::-webkit-scrollbar-thumb:hover{   
    height:50px;   
    background-color:#777;   
    -webkit-border-radius:4px;   
}
/*global*/
.global-ajax-indicator{
	width:85px;
	height: 20px;
	position:fixed;
	top:70px;
	left: 0;
	background: #f9f9f9;
	border:1px #f5f5f5;
	opacity:.8;
	padding: 4px 2px;
	border-radius: 0 15px 2px 0;
	box-shadow: 0px 0px 2px #ccc; 
}
.loading{
	height:20px;
	line-height:20px;
	text-indent:25px;
	background: url(/static/img/loading.gif) no-repeat 5px center;
	color: #777;
}
.iknow{
	opacity: 0.7;
	background: #ddd;
	border-radius: 10px;
	text-align: center;
}
.iknow:hover{
	opacity: 1;
	background: #bbb;
}

/*logos*/
.logo-big {
	background-color: #ede;
}
.page-wrap{
	margin: 58px 0 0 0;
}
ol{
	list-style: none;
}
/*global-header*/
.header-avatar{
	height: 30px;
	
}
.avatar{
	
}
#notifacation-panel {
	top : 35px;
	left: -70px;
}
.bubble-dark{
	background: none repeat scroll 0 0 #FF2222;
	color: white;
	display: block;
	font-size: 11px;
	line-height: 13px;
	padding: 1px 5px;
	position: absolute; 
	left:75px;
	text-decoration: none;
	top: 5px;
	z-index: 12;
	border-radius: 4px;
}
.bubble-light{
	background: none repeat scroll 0 0 #08C;
	color: white; 
	padding: 0px 5px;  
	text-decoration: none;
	border-radius: 10px;
}
.notification .notifacation-panel{
	display: block !important;
	top:40px;
	right:120px;
}

/*aside */
#aside>div{
	border-bottom: 1px solid #eee;
}

/*global-footer*/
#global-footer{
	border-top: 1px solid #eee;
	padding: 30px 0;
	margin-top: 50px;
}
#global-footer ul#footer-info>li {
	float: left;
}
#global-footer ul#footer-info>li a{
	color: #aaa;
}
