<!-- 用户管理 -->
{% extends "base-admin.html" %}
{% autoescape xhtml_escape %}
{% block page %}
<div class="page">
	<div class="row">
		{% include "module-pagination.html" %}
		{% include "module-search.html" %}
	</div>
	<div class="row">
	<div class="span12">
	<table  class="table table-striped table-bordered table-condensed">
		<tr>
			<th>wid </th>
			<th>uid </th>
			<th>title </th>
			<th>content </th>
			<th>poster </th>
			<th>ctime </th>
			<th>stat </th>
			<th>is_public </th>
			<th>is_anonymous </th>
			<th>bless_count </th>
			<th>follow_count </th>
			<th>操作</th>
		</tr>
		{% for wish in arg['data'] %}
		<tr>
			<td>{{wish.wid   		}}</td>
			<td>{{wish.uid    		}}</td>
			<td>{{wish.title  		}}</td>
			<td>{{wish.content 	}}</td>
			<td>{{wish.poster 		}}</td>			
			{% import util %}
			<td>{{util.timeformat(wish.ctime ,long=True) }}</td>
			<td>{{wish.stat   		}}</td>
			<td>{{wish.is_public   }}</td>
			<td>{{wish.is_anonymous}}</td>
			<td>{{wish.bless_count }}</td>
			<td>{{wish.follow_count}}</td>
			<td class="admin-op"><a class="btn btn-mini btn-danger" title="删除" href="/admin/wish/list?op=delete&wid={{wish.wid}}"><i class="icon-white icon-remove"></i></a></td>
		</tr>
		{% end %}
	</table>		
	</div>
	</div>
</div>
{% end %}