<!-- 用户管理 -->
{% extends "base-admin.html" %}
{% autoescape xhtml_escape %}
{% block page %}
<div class="page">
	<div class="row">
		{% include "module-pagination.html" %}
		{% include "module-search.html" %}
	</div>
	<div class="row">
	<div class="span12">
	<table  class="table table-striped table-bordered table-condensed">
		<tr>
			<th>wid </th>
			<th>uid </th>
			<th>title </th> 
			<th>poster </th>
			<th>ctime </th>
			<th>stat </th>
			<th>is_public </th>
			<th>is_anonymous </th>
			<th>bless_count </th>
			<th>follow_count </th>
			<th>tag </th>
			<th>操作</th>
		</tr>
		{% import util %}
		{% for wish in arg['data'] %}
		<tr>
			<td>{{wish.wid   		}}</td>
			<td><a href="/people/{{wish.uid }}" target="_blank"> {{wish.uid}} </a></td>  
			<td><a href="/wish/{{wish.wid}}" target="_blank">{{wish.title}}</a></td> 
			<td>{{wish.poster 		}}</td>			
			<td>{{util.timeformat(wish.ctime ,long_form=True) }}</td>
			<td>{{wish.stat   		}}</td>
			<td>{{wish.is_public   }}</td>
			<td>{{wish.is_anonymous}}</td>
			<td>{{wish.bless_count }}</td>
			<td>{{wish.follow_count}}</td>
			<td>
			{% for item in wish.tags %}
				<a href="/tag/{{item}}">{{item}}</a>
			{% end %}
			</td>
			<td class="admin-op"><a class="btn btn-mini btn-danger" title="删除" href="/admin/wish/list?op=delete&wid={{wish.wid}}"><i class="icon-white icon-remove"></i></a></td>
		</tr>
		{% end %}
	</table>		
	</div>
	</div>
</div>
{% end %}