<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
		<title>幸愿网 | 许愿，然后实现！</title>
		<meta name="author" content="filod" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="shortcut icon" href="/static/img/favicon.ico" />
		<link rel="apple-touch-icon" href="/static/img/apple-touch-icon.png" />
		<title>{title}</title>
		<link rel="stylesheet" href="{{ static_url("css/w.css") }}" type="text/css"/>
		{% block head %}{% end %}
	</head>
	<body>
		{% include 'modules\global-header.html' %}
		<div class="wrapper">
			<div class="page-wrap">
				{% block page %}{% end %}
			</div>
			{% block footer %}{% end %}
		</div>
	</body>
</html>
