{% extends "base.html" %}
{% block page %}
{% import util %}
<div id="home-page" class="page">
	<div class="content-wrap row">
		<div class="content span8">
			<div class="main">
				<div class="timeline-wrap">
					<h1>心愿动态</h1>
					<div class="timeline" id="timeline">
						<ul class="timeline-list">
							{% for feed in arg['feeds'] %}
							<li> 
								{{ modules.FeedEntry(feed) }}
							</li>
							{% end %}
						</ul>
						<div>
							<a href="javascript:;" id="" class="">更多..</a>
						</div>
					</div>
				</div>
			</div>
			<!--aside -->
		</div>
	</div>
</div>
{% end %}