{% extends "base.html" %}
{% block page %}
<div id="home-page" class="page">
	<div class="content-wrap row">
		<div class="main span8">
			{% include 'modules/profile.html'%}
			<div class="">
				<div class="tabbable">
					<ul class="nav nav-tabs">
						<li class="active">
							<a href="#1" data-toggle="tab">动态</a>
						</li>
						<li>
							<a href="#2" data-toggle="tab">公开的愿望</a>
						</li>
					</ul>
					<div class="tab-content">
						<div class="tab-pane active" id="1">
							<ul class="timeline-list entry-list">
								{% for feed in arg['feeds'] %}
								<li>
									{{ modules.FeedEntry(feed) }}
								</li>
								{% end %}
							</ul>
							<div class="row">
								<button href="javascript:;" data-type='people-feed' data-nextpage="2" id="" class="btn btn-large btn-more span8">更多..</button>
							</div>
						</div>
						<div class="tab-pane" id="2">
							<ul class="public-list entry-list">
								{% for wish in arg['public'] %}
								<li>
									{{ modules.Entry(wish,poster=False) }}
								</li>
								{% end %}
							</ul>
							<div class="row">
								<button href="javascript:;" data-type='public-wish' data-nextpage="2" id="" class="btn btn-large btn-more span8">更多..</button>
							</div>
						</div><!--
						<div class="tab-pane" id="3"></div>
						<div class="tab-pane" id="4"></div> -->
					</div>
				</div>
			</div>
		</div>
		{{ modules.Aside(page='people',user=arg['user']) }}
		{% include 'modules/message.html' %}
	</div>
</div>
{% end %}