{% extends "base.html" %}
{% block page %}
<div id="wish-page-pool" class="page">
	<div class="content-wrap">
		<div class="content">
			<div class="main">
				<div class="wish-pool-wrap">
					<div class="panel">
						<span class="change">
							<button class="btn btn-primary" >
								池子里捞一把！
							</button></span>
					</div>
					<div class="pool">
						<ul class="">
							{% for wish in arg['wishes'] %}
							<li>
								{{ modules.Entry(wish,poster=False) }}
							</li>
							{% end %}
						</ul>
						<!--wish-entry-wrap -->
					</div>
				</div>
			</div>
			<!-- aside -->
		</div>
	</div>
</div>
{% end %} 