{% extends "base.html" %}
{% block page %}
<div id="wish-list-pool" class="page">
	<div class="content-wrap row">
		<div class="main span8">
			<div class="wish-list-wrap">
				<h2>愿望清单</h2>
				<div id="tabs" class="tabbable">
					<ul class="nav nav-tabs">
						<li class="active">
							<a href="#1"data-toggle="tab">提到我的愿望</a>
						</li>
						<li>
							<a href="#2" data-toggle="tab">我许下的愿望</a>
						</li>
						<li>
							<a href="#3" data-toggle="tab">我关注的愿望</a>
						</li>
					</ul>
					<div class="tab-content">
						<div class="tab-pane active" id="1">
							<ul class="atme-list entry-list">
								{% for wish in arg['atme'] %}
								<li>
									{{ modules.Entry(wish,poster=False) }}
								</li>
								{% end %}
							</ul>
							<div class="row">
								<button href="javascript:;" data-type='atme' data-nextpage="2" id="" class="btn btn-large btn-more span8">更多..</button>
							</div>
						</div>
						<div class="tab-pane" id="2">
							<ul class="iwish-list entry-list">
								{% for wish in arg['iwish'] %}
								<li>
									{{ modules.Entry(wish,poster=False) }}
								</li>
								{% end %}
							</ul>
							<div class="row">
								<button href="javascript:;" data-type='iwish' data-nextpage="2" id="" class="btn btn-large btn-more span8">更多..</button>
							</div>
						</div>
						<div class="tab-pane" id="3">
							<ul class="ifollow-list entry-list">
								{% for wish in arg['ifollow'] %}
								<li>
									{{ modules.Entry(wish,poster=False) }}
								</li>
								{% end %}
							</ul>
							<div class="row">
								<button href="javascript:;" data-type='ifollow-wish' data-nextpage="2" id="" class="btn btn-large btn-more span8">更多..</button>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- aside -->
		</div>
	</div>
</div>
{% end %}